@import "tailwindcss";

body {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("../img/landscape-tree-forest.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-section-mini {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("../img/landscape-tree-forest.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.playfair {
    font-family: "Dancing Script", serif;
}

.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
}

.scroll-down {
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

.sticky-header {
    position: fixed;
    top: -200px;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)),
        url("../img/landscape-tree-forest.jpg");
    background-size: cover;
    background-position: center;
}

.sticky-header.visible {
    top: 0;
}